.education {
  margin-top: 10rem;
  text-align: center;
  transition: background-color 1s;

  p {
    font-size: 1.5rem;
    color: gray;
  }

  span {
    font-size: 3rem;
    font-weight: bold;
  }
}

.cards {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.card {
  text-align: center;
  width: 36%;
  padding: 4rem 5rem;
  border: 1px solid black;
  border-radius: 50px;

  .icon {
    text-align: center;
    font-size: 3rem;
    transition: all 0.3s;

    &:hover {
      scale: 1.1;
    }
  }

  span {
    font-size: 2rem;
  }

  p {
    text-align: center;
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .cards {
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 280px;
    flex-direction: column;
    padding: 0 1.5rem;
  }
  .card {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 1100px) {
  .cards {
    margin: auto;
    margin-top: 2rem;
  }
  .card {
    padding: 2rem 5rem;
  }
}

.darkTheme {
  background-color: black;
  color: white;
  transition: background-color 1s;

  .card {
    border: 1px solid white;
  }
}
